.navz img{
  width: 125px;
  height: auto;
}
body{
  /* height: 100vh; */
  font-family: Montserrat;
  background-color: #EEEEEE;
}

.App{
  background-color: #EEEEEE;
}

.ant-menu{
  box-shadow: 0px 4px 8px #00000029;
}
.ant-menu-item-selected a{
  color: black !important;
}
.ant-menu-item-active a{
  color: black !important;
}

.form-holder{
  text-align: center;
  margin-top: 50px;
}
.formparent{
  width: 80%;
  margin: auto auto;
  height: 80vh;
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(112, 112, 112);
  text-align: center;
}
.formparent h3{
  color: rgba(39, 133, 252, 1);
  font-weight: 700;
}
.formparent p{
  color: black;
}
.ant-form{
  width: 100%;
  margin: auto auto;
  margin-top: 50px;
}
.formparent >div{
  width: 80%;
  margin: auto auto;
  text-align: left;
  margin-top: 50px;
  height: inherit;

}
.ant-input, .ant-input-password{
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
  border: 2px solid rgba(39, 133, 252, 1);
  border-radius: 10px;
  opacity: 1;
}
.ant-btn{
  background: rgba(39, 133, 252, 1) 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  display: inline-block;
  height: 6vh;
  width: 12vw;
}

.textbtn{

  text-align: center;
  margin-top: 20vh;
}
.textbtn2{
  text-align: center;
  margin-top: 10vh;
}
@media(max-width: 768px){
  .ant-btn{
    width: 25vw;
  }
  .textbtn2{
    margin-top: 0px;
  }
}
@media(max-width: 1200px){
  .textbtn2{
    margin-top: 1vh;
  }
  .formparent{
    height: auto;
  }
}
.ant-tag{
  background: rgba(255, 255, 255, 1) 0% 0% no-repeat padding-box;
border: 2px solid rgba(112, 112, 112, 1);
border-radius: 23px;
opacity: 0.3;
}

/* leaderboard */
.ant-table-cell{
  text-align: center;
}
.ant-table thead > tr > th{
  text-align: center;
}
.ant-table-thead{
  border: none !important;
}
tr{
  border: none !important;
}
tr td{
  border: none !important;
}
.share{
  float: right;
  width: 15%;
}
.formparent div h3{
  width: 85%;
  float: left;
}
.ques div h3{
  width: 100%;
  float: none;
}

.loginz div h3{
  width: 100%;
  float: none;
}
.loginz{
  height: auto;
}
.logincenter{
  text-align: center;
}
.formparent>div{
  padding-top: 30px;
  padding-bottom: 30px;
}
.ant-form-item-label{
  width: 100px;
}